.button
  display: inline-block
  padding: 8px 0
  min-width: 80px
  font-size: 14px
  outline: none
  border: none
  cursor: pointer
  color: $button-success-text-color
  background: $button-success-background-color
  transition(background 100ms linear)
  border-radius(15px)

  &.button-medium
    padding: 13px 0
    font-size: 16px

  &:hover
    color: white
    background: $button-success-hover-background-color

  &[disabled],
  &[disabled]:hover
    cursor: not-allowed
    color: $button-text-color
    background: $button-background-color
