$normal-red                                         = #EB4A46
$normal-green                                       = #00C8B3
$normal-gray                                        = #EFEEED
$dark-gray                                          = #333333
$normal-dark-gray                                   = #DDDCDC
$light-gray                                         = #F6F6F6

$input-text-color                                   = $normal-gray
$input-text-focus-color                             = $dark-gray
$input-border-color                                 = $normal-gray
$button-text-color                                  = $normal-dark-gray
$button-background-color                            = $light-gray

$input-file-background-color                        = $normal-green

$input-invalid-text-color                           = $normal-red
$input-invalid-border-color                         = $normal-red

$input-success-text-color                           = $normal-green
$input-success-border-color                         = $normal-green

$button-success-text-color                          = white
$button-success-background-color                    = $normal-green
$button-success-hover-background-color              = alpha($normal-green, 0.7)
