box-shadow()
  -webkit-box-shadow: arguments
  -moz-box-shadow: arguments
  -ms-box-shadow: arguments
  -o-box-shadow: arguments
  box-shadow: arguments

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  -ms-border-radius: arguments
  -o-border-radius: arguments
  border-radius: arguments

transition()
  -webkit-transition: arguments
  -moz-transition: arguments
  -ms-transition: arguments
  -o-transition: arguments
  transition: arguments

transform()
  -webkit-transform: arguments
  -moz-transform: arguments
  -ms-transform: arguments
  -o-transform: arguments
  transform: arguments

box-sizing()
  -webkit-box-sizing: arguments
  -moz-box-sizing: arguments
  -ms-box-sizing: arguments
  -o-box-sizing: arguments
  box-sizing: arguments

placeholder-input()
  ::-webkit-input-placeholder
    color: arguments
  :-moz-placeholder
    color: arguments
  ::-moz-placeholder
    color: arguments
  :-ms-input-placeholder
    color: arguments
